{{#each this}}
  <div class='photo-card'>
    <img class="gallery" src={{webformatURL}} alt='{{tags}}' width='400px' data-lightbox={{largeImageURL}}/>
    <div class='stats'>
      <p class='stats-item'>
        <i class='material-icons gray08'>thumb_up</i>
        {{likes}}
      </p>
      <p class='stats-item'>
        <i class='material-icons gray08'>visibility</i>
        {{views}}
      </p>
      <p class='stats-item'>
        <i class='material-icons gray08'>comment</i>
        {{comments}}
      </p>
      <p class='stats-item'>
        <i class='material-icons gray08'>cloud_download</i>
        {{downloads}}
      </p>
    </div>
  </div>
{{/each}}